body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/88/Raja_Ampat%2C_Mutiara_Indah_di_Timur_Indonesia.jpg");
    /* background-color: aquamarine; */
}

.box {
    border: 1px solid red;
    /* padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px; */

    /* padding: 10px 10px 10px 10px; */

    padding: 10px;
    margin: 10px;

    /* horizontal vertikal
    padding: 10px 20px; */

    width: 300px;
    height: 300px;

    background-color: sandybrown;

    float: left;

    text-align: center;
}

.font-dongle {
    font-family: 'Dongle', sans-serif;
}