.menu {
    padding-left: 20px;
    float: right;
}

.profil {
    padding-right: 20px;
    float: left;
}

body {
    margin: 20px;
    padding: 10px;
}

.form {
    border-style: double;
    border-color: black;
    width: 100%;
}